

.col_2{
    width: 70%;
    background-color: rgb(158, 157, 157);
    min-height: 100vh;
    padding: 15px;
    border-radius: 15px;
    
}
.col_2_item_logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
}
.col_2_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 900px;
    background-color: rgb(116, 239, 255);
    padding: 7px;
    border-radius: 15px;
}
.col_2_item:last-child{
    margin-bottom: 0;
}
.col_2_item_logo_inner{
    border-radius:15px;
    background-color: rgb(183, 255, 243);
    padding: 4px;
    margin-bottom: 5px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.col_2_item_text{
    padding: 10px;
    border-radius: 15px;
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
}
.col_2_item_text p {
    width: auto;
    display: block;
    word-wrap: break-word;
}

.item__inner{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}