.header {
  grid-area: header;
  background-color: #334663;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header button {
  border-radius: 5px;
  max-width: 200px;
  background-color: rgb(255, 118, 113);
  transition: 0.3s;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 8px;
  

}
header button:hover {
  transition: 0.3s;
  background-color: rgb(213, 228, 239);
}

.header__img {
  height: auto;
  width: 50px;

}
.auth__inner{
  padding: 10px 5px;
  background-color: #fff;
  border-radius: 10px;


}
.login{
  color:#334663 ;
  cursor: pointer;
  background-color: rgb(140, 255, 136);
  padding: 5px;
  border-radius: 5px;
}
.name__inner{
  display: flex;
  align-items: center;
  justify-content: center;
}
.name{
  margin-right: 10px;
  font-size: 20px;
}

