.info {
  padding: 30px 0;
}
.content__img {
  margin: 0 auto;
  width: auto;
  height: auto;
  max-height: 300px;
  border-radius: 15px;
}
.logo__img_img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
}
.info__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
  border-radius: 15px;
  background-color: rgb(196, 196, 196);
}
.logo__descr {
  padding-bottom: 20px;
}
.name__inner{
  width: 100%;

}
